<!-- About Section-->
<section class="page-section  text-secondary mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h3 class="page-section-heading text-center  text-black">About Us</h3>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div ><p >Lorem ipsum dolor sit amet ,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet <br/> Lorem ipsum dolor sit amet.</p></div>
            
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p >Lorem ipsum dolor sit amet ,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet ,Lorem ipsum dolor sit amet,Lorem  </p>
                
                <div class="row">
                    <i class=" col-lg-3 fas fa-clock" style="font-size:50px;"></i>
                    <p class=" col-lg-9 ">Lorem ipsum dolor sit amet ,Lorem ipsum dolor sit amet,  </p>
                </div>
                <div class="row">
                    <i class=" col-lg-3 fas fa-clock" style="font-size:50px;"></i>
                    <p class=" col-lg-9 ">Lorem ipsum dolor sit amet ,Lorem ipsum dolor sit amet,  </p>
                </div>
                <div class="row">
                    <i class=" col-lg-3 fas fa-clock" style="font-size:50px;"></i>
                    <p class=" col-lg-9 ">Lorem ipsum dolor sit amet ,Lorem ipsum dolor sit amet,  </p>
                </div>

            </div>
            <div class="col-lg-4 mr-auto" style="background-image: url(assets/img/about-img.svg); background-repeat: no-repeat;
            background-attachment: unset;  
            background-size: contain;
           
           
          "> </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto" style="background-image: url(assets/img/about-extra-1.svg); background-repeat: no-repeat;
            background-attachment: unset;  
            background-size: contain; "> 
          </div>
            <div class="col-lg-4 mr-auto">
                <p >Lorem ipsum dolor sit amet ,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet ,Lorem ipsum dolor sit amet,Lorem  </p>
                
                <div class="row">
                    <i class=" col-lg-3 fas fa-clock" style="font-size:50px;"></i>
                    <p class=" col-lg-9 ">Lorem ipsum dolor sit amet ,Lorem ipsum dolor sit amet,  </p>
                </div>
                <div class="row">
                    <i class=" col-lg-3 fas fa-clock" style="font-size:50px;"></i>
                    <p class=" col-lg-9 ">Lorem ipsum dolor sit amet ,Lorem ipsum dolor sit amet,  </p>
                </div>
                <div class="row">
                    <i class=" col-lg-3 fas fa-clock" style="font-size:50px;"></i>
                    <p class=" col-lg-9 ">Lorem ipsum dolor sit amet ,Lorem ipsum dolor sit amet,  </p>
                </div>

            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p >Lorem ipsum dolor sit amet ,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet ,Lorem ipsum dolor sit amet,Lorem  </p>
                
                <div class="row">
                    <i class=" col-lg-3 fas fa-clock" style="font-size:50px;"></i>
                    <p class=" col-lg-9 ">Lorem ipsum dolor sit amet ,Lorem ipsum dolor sit amet,  </p>
                </div>
                <div class="row">
                    <i class=" col-lg-3 fas fa-clock" style="font-size:50px;"></i>
                    <p class=" col-lg-9 ">Lorem ipsum dolor sit amet ,Lorem ipsum dolor sit amet,  </p>
                </div>
                <div class="row">
                    <i class=" col-lg-3 fas fa-clock" style="font-size:50px;"></i>
                    <p class=" col-lg-9 ">Lorem ipsum dolor sit amet ,Lorem ipsum dolor sit amet,  </p>
                </div>

            </div>
            <div class="col-lg-4 mr-auto" style="background-image: url(assets/img/about-extra-2.svg); background-repeat: no-repeat;
            background-attachment: unset;  
            background-size: contain;
           
           
          "> </div>
        </div>
        

      
    </div>
</section>



<!-- About Section-->
<section class="page-section   text-white mb-0" style="background-color:#2445b3;" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h3 class="page-section-heading text-center  text-black">Why Choose Us</h3>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div ><p >Lorem ipsum dolor sit amet ,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet <br/> Lorem ipsum dolor sit amet.</p></div>
            
        </div>
        <!-- About Section Content-->
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-lg-4 text-center  ml-auto">
                <div class="card text-center " style="width: 18rem;  background-color: #1d3997;">
                    <div class="card-body">
                        <i class=" col-lg-4 fas fa-clock" style="font-size:80px; color: #ffffff;"></i>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="card-link" style="color: white;">Card link</a>
                    </div>
                  </div>

            </div>

            <div class="col-lg-4 text-center  mr-auto" > 
                <div class="card text-center " style="width: 18rem; background-color: #1d3997;">
                    <div class="card-body">
                        <i class=" col-lg-4 fas fa-clock" style="font-size:80px; color: #ffffff;"></i>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="card-link" style="color: white;">Card link</a>
                     
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 mr-auto text-center " > 
                <div class="card text-center " style="width: 18rem;  background-color: #1d3997;">
                    <div class="card-body">
                        <i class=" col-lg-4 fas fa-clock" style="font-size:80px; color: #ffffff;"></i>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="card-link" style="color: white;">Card link</a>
                    </div>
                  </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-3 ml-auto">
                <p >274</p>
                <p >Clints</p>
                

            </div>
            <div class="col-lg-3 ml-auto">
                <p >421</p>
                <p >Projects</p>
                

            </div>
           
            <div class="col-lg-3 ml-auto">
                <p > 1,364</p>
                <p >Hours Of Support</p>

            </div>
            <div class="col-lg-3 ml-auto">
                <p > 18 </p>
                <p >Hard Workers</p>
                

            </div>
           
        </div>
        

      
    </div>
</section>