<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->

        <h2 class="page-section-heading text-center  text-black">Our Portfolio</h2>
        <div class="row" style=" display: flex; justify-content: center; margin-bottom: 40px; margin-top: 40px;">
            <button type="button" class=" col-lg-1 btn btn-primary ">All</button>
            <button type="button" class=" col-lg-1 btn btn-info">App</button>
            <button type="button" class=" col-lg-1 btn btn-info">Card</button>
            <button type="button" class=" col-lg-1 btn btn-info">Web</button>

        </div>

        <section class="gallery">
            <div class="container">
              <div class="grid">
                <div class="column-xs-12 column-md-4">
                  <figure class="img-container">
                    <img src="\assets\img\portfolio\app1.jpg" />
                    
                    
                  </figure>
                </div>
                <div class="column-xs-12 column-md-4">
                  <figure class="img-container">
                    <img src="\assets\img\portfolio\web3.jpg" />
                  </figure>
                </div>
                <div class="column-xs-12 column-md-4">
                  <figure class="img-container">
                    <img src="\assets\img\portfolio\app2.jpg">
                   
                  </figure>
                </div>
                <div class="column-xs-12 column-md-6">
                  <figure class="img-container">
                    <img src="\assets\img\portfolio\web2.jpg" />
                    
                  </figure>
                </div>
                <div class="column-xs-12 column-md-6">
                  <figure class="img-container">
                    <img src="\assets\img\portfolio\card2.jpg" />
                    
                  </figure>
                </div>
                <div class="column-xs-12">
                  <figure class="img-container">
                    <img src="\assets\img\portfolio\app3.jpg" />
                   
                  </figure>
                </div>
                <div class="column-xs-12 column-md-4">
                    <figure class="img-container">
                      <img src="\assets\img\portfolio\web1.jpg" />
                      
                    </figure>
                  </div>
                  <div class="column-xs-12 column-md-4">
                    <figure class="img-container">
                      <img src="\assets\img\portfolio\card3.jpg" />
                     
                    </figure>
                  </div>
                  <div class="column-xs-12 column-md-4">
                    <figure class="img-container">
                      <img src="\assets\img\portfolio\card1.jpg">
                      
                    </figure>
                  </div>

              </div>
            </div>
          </section>
      
    </div>
</section>