<!-- About Section-->
<section class="page-section  text-secondary mb-0" id="team">
    <div class="container">
        <!-- About Section Heading-->
        <h3 class="page-section-heading text-center  text-black">Team</h3>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div ><p >Lorem ipsum dolor sit amet ,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet <br/> Lorem ipsum dolor sit amet.</p></div>
            
        </div>
        <!-- Team Section Content-->
        <div class="row" style=" display: flex; justify-content: center; margin-bottom: 40px; margin-top: 40px;">
            <img class=" col-lg-2" src="assets/img/team-1.jpg" style="border-radius: 50%;" alt="Avatar">
            <img class=" col-lg-2" src="assets/img/team-2.jpg" style="border-radius: 50%;" alt="Avatar">
            <img class=" col-lg-2" src="assets/img/team-3.jpg" style="border-radius: 50%;" alt="Avatar">
            <img class=" col-lg-2" src="assets/img/team-4.jpg" style="border-radius: 50%;" alt="Avatar">

        </div>
        

      
    </div>
</section>



<!-- About Section-->
<section class="page-section   text-white mb-0" style="background-color:#ecf5ff;" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h3 class="page-section-heading text-center text-secondary  text-black">Our Clints</h3>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div ><p  class="text-secondary">Lorem ipsum dolor sit amet ,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet <br/> Lorem ipsum dolor sit amet.</p></div>
            
        </div>
        <!-- About Section Content-->
        <div class="row" style=" display: flex; justify-content: center;">
            
                <div class=" col-lg-2 card text-center " style="width: 12rem;  background-color: #ffff;">
                    <div class="card-body">
                        <img src="\assets\img\clients\client-1.png" style="max-height: 100%; max-width: 100%;"/>
                    </div>
                  </div>

            
                <div class=" col-lg-2 card text-center " style="width: 12rem; background-color: #ffff;">
                    <div class="card-body">
                        <img src="\assets\img\clients\client-2.png" style="max-height: 100%; max-width: 100%;" />
                     
                    </div>
                  </div>
           
           
                <div class="card col-lg-2 text-center " style="width: 12rem;  background-color: #ffff;">
                    <div class="card-body">
                        <img src="\assets\img\clients\client-3.png" style="max-height: 100%; max-width: 100%;"/>
                       
                    </div>
                  </div>
         
           
                  <div class="card col-lg-2 text-center " style="width: 12rem;  background-color: #ffff;">
                    <div class="card-body">
                        <img src="\assets\img\clients\client-4.png" style="max-height: 100%; max-width: 100%;"/>
                       
                    </div>
                  </div>
         
        </div>
        
        <div class="row" style=" display: flex; justify-content: center;">
            
            <div class=" col-lg-2 card text-center " style="width: 12rem;  background-color: #ffff;">
                <div class="card-body">
                    <img src="\assets\img\clients\client-5.png" style="max-height: 100%; max-width: 100%;"/>
                </div>
              </div>

        
            <div class=" col-lg-2 card text-center " style="width: 12rem; background-color: #ffff;">
                <div class="card-body">
                    <img src="\assets\img\clients\client-6.png" style="max-height: 100%; max-width: 100%;" />
                 
                </div>
              </div>
       
       
            <div class="card col-lg-2 text-center " style="width: 12rem;  background-color: #ffff;">
                <div class="card-body">
                    <img src="\assets\img\clients\client-7.png" style="max-height: 100%; max-width: 100%;"/>
                   
                </div>
              </div>
     
       
              <div class="card col-lg-2 text-center " style="width: 12rem;  background-color: #ffff;">
                <div class="card-body">
                    <img src="\assets\img\clients\client-8.png" style="max-height: 100%; max-width: 100%;"/>
                   
                </div>
              </div>
     
    </div>
        

      
    </div>
</section>