<!-- About Section-->
<section class="page-section text-white " id="home" style="background-image: url(assets/img/intro-bg.png); padding-top: 10%;   border-bottom-left-radius: 300px 130px;
  border-bottom-right-radius: 300px 130px;

">
    <div class="container">
       
        
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">We provide <br /> <a href="www.google.com"><u>solutions</u></a> <br /> for your business </p>
                <div class="row">
                    <button type="button" class=" col-lg-4 btn btn-primary" >Get Started</button>
                    <button type="button" class=" col-lg-4 btn btn-secondary">Our Services</button>

                </div>
                

            </div>
            <div class="col-lg-4 mr-auto" style="background-image: url(assets/img/intro-img.svg); background-repeat: no-repeat;
            background-attachment: unset;  
            background-size: contain;
           
           
          "> </div>
        </div>
       
    </div>
</section>